{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section id="home">
        <!-- <h2>Nous suivre</h2> -->
        <h4>Charme Oriental Exceptionnel</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit accusantium consectetur in voluptates
            neque.</p>
        <p>molestiae illum eaque praesentium esse. Quos iusto.</p>
        <a href="#" class="btn-reservation home-btn">Réserver Maintenant</a>
    </section>
    <footer>
        <p> Réalisé par <span>Hamid Add</span> | Tous les droits sont réservés.</p>
    </footer>

{% endblock %}