{% extends 'base.html.twig' %}

{% block title %}Lina K. Collection{% endblock %}

{% block body %}
    <section id="home">
        <h4>Charme Oriental Exceptionnel</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit accusantium consectetur in voluptates
            neque.</p>
        <p>molestiae illum eaque praesentium esse. Quos iusto.</p>
        <a href="{{ path('app_client_robe_index') }}" class="btn-reservation home-btn">Réserver Maintenant</a>
    </section>
{% endblock %}