{% extends 'base.html.twig' %}

{% block title %}Edit Retouche{% endblock %}

{% block body %}
    <h1>Edit Retouche</h1>

    {{ include('retouche/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_retouche_index') }}">back to list</a>

    {{ include('retouche/_delete_form.html.twig') }}
{% endblock %}
