{% extends 'base.html.twig' %}

{% block title %}Edit Retoucheur{% endblock %}

{% block body %}
    <h1>Edit Retoucheur</h1>

    {{ include('retoucheur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_retoucheur_index') }}">back to list</a>

    {{ include('retoucheur/_delete_form.html.twig') }}
{% endblock %}
