@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

body {
    background-color: #f7f0f0;
}

section {
    margin-top: 50px;
}

header {
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 5%;
}

header .logo a {
    font-size: 25px;
    color: #e29d08;
}

header .logo a span {
    color: #fff;
    font-size: 30px
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    margin: 0 15px;
    list-style-type: none;
}

.menu li a {
    color: #fff;
    font-size: 14px;
}

.btn-reservation {
    color: #e29d08;
    font-size: 14px;
    border: 2px solid #e29d08;
    padding: 5px 20px;
    transition: 0.5s;
    font-weight: bolder;
    margin-left: 110px;
}

.btn-reservation:hover {
    background-color: #e29d08;
    color: #fff;

}

.navbar-brand {
    color: #e29d08;
    // font-size: 30px;
    font-weight: bolder;
}

.btn-nav {
    margin-bottom: 20px;
    text-decoration: none;
    color: #e29d08;
    font-size: 14px;
    border: 2px solid #e29d08;
    padding: 5px 20px;
    transition: 0.5s;
    font-weight: bolder;
}

.btn-nav:hover {
    background-color: #e29d08;
    color: #fff;
}

.collapse navbar-collapse{
    color: #e29d08;
}

.nav-user {
    color: #fff;
}

#nav{
    justify-content: space-between;
}

span {
    color: #fff;
}

.responsive-menu {
    display: none;
}

@media screen and (max-width: 680px){
    
    #afficher_menu {
        display: block !important;
    }
    .menu {
        display: none; 
    }
    
    #zoom {
        font-size: 45px;
    }

    .responsive-menu {
        display: block;
    }

    .sous_menu {
        background-color: #dedede;
            width: 200px;
            opacity: 0.9; 
            font-size: 18px;
            position: absolute;
            z-index: 9999;
            top: 0;
            right: 0;
            margin-top: 40px;
            margin-right: 14px;
            border-radius: 10px;
            padding: 10px;
            display: none;
    } 

         #active:hover .sous_menu {
             display: block !important;
         }

    .sous_menu > ul > li {
        list-style: none;
        padding: 8px;
        text-align: center;
        text-transform: uppercase;
        border-bottom: 1px solid black;

        &:hover {
            opacity: 0.5;
            cursor: pointer;
        }
    } 
}