{% extends 'base.html.twig' %}

{% block title %}Edit Robe{% endblock %}

{% block body %}
    <h1>Edit Robe</h1>

    {{ include('robe/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_robe_index') }}">back to list</a>

    {{ include('robe/_delete_form.html.twig') }}
{% endblock %}
