{% extends 'base.html.twig' %}

{% block title %}Hello MentionsLegalesController!{% endblock %}

{% block body %}
<div class="legales">
        <h1 class="titlementions">Mentions Légales</h1>
        <p class="mentionsLégales">
            Lina K. Collection est un site dédié à la location de robe, édité par l’EURL Mr.H, au capital de 1.000 euros, immatriculée au Registre du commerce et des sociétés de Lens sous le numéro 893 328 344 et ayant son siège social situé 54 Rue de la Chapelle 59128 Flers en Escrebieux. <br>

            Gérant de Mr.H : M. ADDICHI Hamid – Contact

            Le site Internet https://lina_k_collection.com (le Site) est la propriété exclusive de l’EURL Mr.H.
        </p>

        <h1 class="titlementions">Hébergement</h1>
        
        <p class="mentionsLégales">
            Le site Internet est hébergé par la société o2switch, 222-224 Boulevard Gustave Flaubert 63000 Clermont-Ferrand, Capital de 100000 euros, Siret : 510 909 80700024.
        </p>
        <h1 class="titlementions">Propriété intellectuelle</h1>
        
        <p class="mentionsLégales">

            De manière générale, les données, les programmes, les échantillons musicaux, les textes, les informations, les logos, les identités visuelles, les images animées ou non et leurs mises en forme, les vidéos, apparaissant sur le Site sont la propriété de l’EURL Mr.H et sont protégées à ce titre par les dispositions du Code de la propriété intellectuelle.

            Tout internaute s’engage à ne pas les utiliser que dans le strict cadre offert par le Site.
        </p>
        <h1 class="titlementions">Commentaires</h1>
        
        <p class="mentionsLégales">
            A ce jour 10/02/2021, les commentaires ne sont pas activés sur www.lina_k_collection.com.

            Si cela devait changer et que L’EURL Mr.H devait encourager les internautes à publier des commentaires sur le Site www.lina_k_collection.com, les commentaires n’ayant aucun rapport avec le contenu du Site seront considérés comme du spam et par conséquent supprimés. Les commentaires injurieux ou ayant des connotations racistes, violentes ou sexuelles seront également supprimés.
        </p>
        <h1 class="titlementions">Responsabilité</h1>
        
        <p class="mentionsLégales">
            L’EURL Mr.H décline toute responsabilité quant aux éventuels dysfonctionnements pouvant survenir sur le Site et entraîner une perte de données ou une indisponibilité de l’accès aux informations produites sur celui-ci. L’EURL Mr.H ne peut garantir l’exhaustivité et la véracité des informations présentes sur le Site ainsi que l’absence de modification par un tiers (intrusion, virus). L’internaute est seul responsable de l’utilisation qu’il fait du contenu du Site.

            Les éléments présentés sur le Site sont susceptibles de modification sans préavis et sont mis à la disposition des internautes, sans aucune garantie d’aucune sorte, expresse ou tacite.

            La présence de liens hypertextes présents sur le Site ne crée pas une solidarité de responsabilité entre l’EURL Mr.H et les propriétaires des autres sites, quant au contenu des sites sur lesquels est redirigé l’internaute. Seule la responsabilité desdits sites peut être engagée.
    </p>
</div>
{% endblock %}
