{% extends 'base.html.twig' %}

{% block title %}Robe{% endblock %}

{% block body %}

    <section class="trending-product" id="trending">
        <div class="center-text">
            <h2>Nos Robes <span></span></h2>
        </div>

        <div class="products">
            {% for robe in robes %}
            <div class="row">
                <img src="{{ vich_uploader_asset(robe, 'imageFile') }}" alt="">
                <div class="product-text">
                    <h5>Promo</h5>
                </div>
                <div class="heart-icon">
                    <i class='bx bx-heart'></i>
                </div>
                <div class="ratting">
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bxs-star-half' ></i>
                </div>

                <div class="price">
                    <a href="{{ path('app_client_robe_show', {'id': robe.id}) }}"><h4>{{ robe.nomRobe }}</h4></a>
                    <p>{{ robe.prix }} €</p>
                </div>
            </div>
        {% endfor %}

        </div>

    </section>



{% endblock %}
