{% extends 'base.html.twig' %}

{% block title %}Robe index{% endblock %}

{% block body %}
<div class="container">
    <h1>Robes</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nom Robe</th>
                <th scope="col">Description</th>
                <th scope="col">Catégotie</th>
                <th scope="col">Prix/jour €</th>
            </tr>
        </thead>

        <tbody>
        {% for robe in robes %}
        <tbody>
            <tr class="table-success">
                <td>{{ robe.nomRobe }}</td>
                <td>{{ robe.description }}</td>
                <td>{{ robe.categorie }}
                <td>{{ robe.prix }}</td>
            </tr>
    </tbody>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


</div>

{% endblock %}
